{% extends 'pages/article_layout.html' %}
{% block article %}
<h1 class="title is-1"> Privacy Facts And Information </h1>

We want everyone to view this page so that there is no confusion on how our service works and what we mean by searching
with privacy.
<hr/>

<h2> What We Mean By "Search With Privacy" </h2>
<ul>
    <li>We do not store user searches</li>
    <li>We do track our users</li>
    <li>The only site metrics that we use are the pages that are viewed and their HTTP referrers</li>
</ul>

<hr/>

<h2>What We Still Do</h2>
<ul>
    <li>We get some of our results from other services, so they see the search that was made (just not who made it)</li>
    <li>We host our service and images with Amazon Web Services</li>
    <li>We display ads that may or may not take you to sites that respect user privacy</li>
    <li>We display results that may or may not take you to sites that respect user privacy</li>
    <li>We sometimes display contextual ads, or ads based on what is on the page</li>
</ul>

<hr/>

<br><br>
{% endblock %}
