{% if stock_searched == True %}
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_9c61a"></div>
    <div class="tradingview-widget-copyright"><a href={{ tv_url }} rel="noopener" target="_blank"><span class="blue-text">{{ stock }} Chart</span></a>
        by TradingView
    </div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        new TradingView.widget(
            {
                "width": 980,
                "height": 610,
                "symbol": '{{ symbol }}',
                "interval": "D",
                "timezone": "Etc/UTC",
                "theme": "Light",
                "style": "1",
                "locale": "en",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "allow_symbol_change": true,
                "referral_id": "20191",
                "container_id": "tradingview_9c61a"
            }
        );
    </script>
</div>
<!-- TradingView Widget END -->
{% endif %}

{% if crypto_news == True %}
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/cryptocurrencies/prices-all/"
                                                 rel="noopener" target="_blank"><span class="blue-text">Cryptocurrency Markets</span></a>
        by TradingView
    </div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
        {
            "width"
        :
            "1100",
                "height"
        :
            "490",
                "defaultColumn"
        :
            "overview",
                "screener_type"
        :
            "crypto_mkt",
                "displayCurrency"
        :
            "USD",
                "colorTheme"
        :
            "light",
                "transparency"
        :
            false,
                "locale"
        :
            "en"
        }
    </script>
</div>
<!-- TradingView Widget END -->
{% endif %}

{% if stock_news == True %}
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span
            class="blue-text">Quotes</span></a> by TradingView
    </div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
        {
            "symbols"
        :
            [
                {
                    "description": "S&P 500",
                    "proName": "SP:SPX"
                },
                {
                    "description": "NASDAQ 100",
                    "proName": "NDX"
                },
                {
                    "description": "EUR/USD",
                    "proName": "OANDA:EURUSD"
                },
                {
                    "description": "CRUDE OIL",
                    "proName": "NYSE:WTI"
                },
                {
                    "description": "BTC/USD",
                    "proName": "COINBASE:BTCUSD"
                },
                {
                    "description": "DXY",
                    "proName": "TVC:DXY"
                }
            ],
                "colorTheme"
        :
            "light",
                "isTransparent"
        :
            true,
                "locale"
        :
            "en"
        }
    </script>
</div>
<!-- TradingView Widget END -->
{% endif %}

{% for link in definition %}
    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <a href="https://owlbot.info?q={{link[0]}}" style="color: black; font-size: 23px" class="toplink"> <b>{{ link[0] }}</b> </a><br>
                    <span> {{ link[1] }}</span>
                    <br>
                    <span> {{ link[2] }}</span>
                    <br><br>
                    <a href="https://owlbot.info?q={{link[0]}}"> Definition provided by Owlbot </a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% for data in calculator %}
    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <span style="font-size: 23px; color: black"> <b> Calculator</b> </span><br><br>
                    <span style="color: black; font-size: 13px; text-decoration: none">
                        <input id="calc" class="input is-medium" type="search" value="{{query}}" onload="calculate()" onkeypress="if (event.which == 13) return calculate();" style="width: 50%">
                        <a onclick="calculate()" style="margin-left: 4px;font-size: 23px; text-decoration: none"> = </a>
                        <span id="solution" style="margin-left: 4px; font-size: 23px;"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endfor %}


{% for space in html_space %}
    <div class="column">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <span style="color: black"> <b>Space character in HTML:</b> {{space}} </span>
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% for editor in html_editor %}
    <div id="web_editor">
        <div class="column">
            <div class="columns">
                <div class="column">
                    <h3 style="text-align: center; padding-bottom: 5px;"> HTML </h3>
                    <textarea class="textarea" id="html_code" placeholder="html code"></textarea>
                </div>

                <div class="column">
                    <h3 style="text-align: center; padding-bottom: 5px;"> CSS </h3>
                    <textarea class="textarea" id="css_code" placeholder="css code"></textarea>

                </div>
                <div class="column">
                    <h3 style="text-align: center; padding-bottom: 5px;"> Javascript </h3>
                    <textarea class="textarea" id="js_code" placeholder="JavaScript code"></textarea>
                </div>
            </div>
            <div style="text-align: center">
                <button class="button" id="run_web_editor" onclick="run_web_editor();">Run</button>
                <hr/>
            </div>

        </div>
        <div class="column">
            <div class="column">
                <h3 style="text-align: center; padding-bottom: 5px;"> Output </h3>
                <div class="card">
                    <div class="card-content">
                        <div id="eval_results"></div>
                    </div>

                </div>
            </div>
        </div>

        <hr/>

        <script>
            function run_web_editor() {
                $('#eval_results').html('<style>' + $('#css_code').val() + '</style>' + $('#html_code').val() + '<script>' + $('#js_code').val() + '<' + '/script>');
            }
        </script>
    </div>
{% endfor %}

