

<div class="footer footer-settings" style="text-align: center; padding-top: 10px; padding-bottom: 10px; background-color: white">
    <div class="column is-half is-offset-one-quarter">
        <div class="columns is-vcentered">
            <a class="column is-one-quarter" href="/about">
                About
            </a>
            <a class="column is-one-quarter" href="https://infinitysearch.blog">
                Blog
            </a>
            <a class="column is-one-quarter" href="/privacy">
                Privacy
            </a>
            <a class="column is-one-quarter" href="/contact">
                Contact
            </a>
        </div>
    </div>
</div>

<script>
    function imgError(image) {
    image.onerror = "";
    image.src = "https://i.postimg.cc/cHgVnXfW/blank.png";
    return true;
    }
</script>

<script>
    function prepare_input(input) {
        input = input.replace('x', '*');
        input = input.replace('X', '*');
        input = input.replace('^', '**');
        return input
    }

    function calculate() {
        try {
            var value = document.getElementById("calc").value;
            var x = eval(prepare_input(value));
            console.log(x);
            document.getElementById("solution").innerText = x;
        } catch (err) {
            console.log(err);
            document.getElementById("solution").innerText = "Error When Calculating";
        }
    }
</script>

    <script>
    new Sortable(externals, {
    handle: '.handle',
    animation: 500
    });
    </script>
