{% if current == 'news' %}
    {% if news_results|length == 0 %}
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        We couldn't find any results for this search.
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% for link in news_results %}
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <a href="{{link.url}}" class="toplink"> <span> <b>{{link.title}}</b> </span> </a>
                        <br>
                        <a href="{{link.url}}" style="font-size: .98em;">{{link.url}}</a>
                        <br>
                        <b>Published:</b><div style="font-size: .98em"> {{link.display_date}}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
