
{% for link in external_results %}
    <div class="column">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title" style="font-weight: normal;">
                    <a href={{link[1]}} style="display: block;">
                        <span><img onerror="imgError(this)" src="{{link[2]}}" width="16px"
                                                            height="16px" style="vertical-align: baseline; padding-right: 5px;"> {{link[0]}} </span>
                    </a>
                </p>
                <i class="fas fa-arrows-alt-v handle" style="cursor: pointer; display: block; margin: auto; margin-right: 12px"></i>
            </header>
        </div>
    </div>
{% endfor %}
