{% extends 'languages/german/article_layout_german.html' %}
{% block article %}
<h1> Kontaktieren Sie Uns </h1>
<hr/>
<h2> Senden Sie Uns Eine Nachricht </h2>
Sie können uns per E-Mail unter <a href="mailto:infinitysearch@protonmail.com">
    infinitysearch@protonmail.com </a>
<hr/>
<h2> Folgen Sie uns auf Twitter </h2>
Bleiben sie mit uns auf <a href="https://twitter.com/InfinitySearch1"> https://twitter.com/InfinitySearch1
    (Unsere Tweets sind auf Englisch) </a>
<hr/>
<h2> Sehen Sie unsere Repositories auf GitLab </h2>
Sehen Sie sich unsere Open-Source-Projekte und Denkcodes unter <a href="https://gitlab.com/infinitysearch">
    https://gitlab.com/infinitysearch </a>
<hr/>
<h2> Unsere Firefox-Erweiterung herunterladen </h2>
Laden Sie unsere Erweiterung herunter, um eine benutzerdefinierte Verknüpfung zu unserer Website unter
<a href="https://addons.mozilla.org/en-US/firefox/addon/infinity-search">https://addons.mozilla.org/en-US/firefox/addon/infinity-search</a>
<br>
{% endblock %}
