<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infinity Search - Home</title>
    <meta name="description" content="Search with privacy and efficiency.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .Site {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        .Site-content {
            flex: 1;
        }
    </style>

</head>

<body class="Site">
<div class="Site-content">
<div style="margin-top: 11%"></div>

<div style="text-align: center;">
    <a href="/de" style="display: inline-block;">
        <img src="https://infinity-search-saved-favicons.s3.amazonaws.com/InfinitySearch/home_logo.png" height="100px" width="400px">
    </a>
    <br>
</div>

<!--<div class="content column is-three-fifths is-offset-one-fifth" style="margin-top: 30px">-->
<div class="content column is-half is-offset-one-quarter" style="margin-top: 30px">
    <div class="control has-icons-left">
        <form action="/results" method="post" id="input_form">
            <input class="input is-medium" type="search" placeholder="Suche nach etwas im web" name="Search">
            <span class="icon is-medium is-left" style="cursor: pointer">
                      <i class="fa fa-search"></i>
        </span>
        </form>

    </div>
</div>

<div class="column is-half is-offset-one-quarter">
    <div class="tabs is-centered">
        <ul>
            <li class="is-active search_tab" onclick="switch_tab(this, '')"><a>Netz</a></li>
            <li class="search_tab" onclick="switch_tab(this, '/images')"><a>Bilder</a></li>
            <li class="search_tab" onclick="switch_tab(this, '/videos')"><a>Videos</a></li>
            <li class="search_tab" onclick="switch_tab(this, '/news')"><a>Nachrichten</a></li>
        </ul>
    </div>
</div>

<div class="column is-half is-offset-one-quarter">
    <div class="content is-medium">
        Suchen Sie mit Privatsphäre und Effizienz. <a href="/about/de"> Erfahren Sie mehr über Infinity Search </a>
    </div>
    <br>
    <div class="notification is-info" id="info">
        <button class="delete" onclick="document.getElementById('info').hidden = true;"></button>
        Wir haben derzeit nur Suchergebnisse auf Englisch, da wir noch viele neue Funktionen entwickeln und keine Zeit
        hatten, diese zu übersetzen.
    </div>

</div>
</div>



<footer class="footer" style="text-align: center; padding-top: 10px; padding-bottom: 10px; background-color: white">
    <div class="column is-half is-offset-one-quarter">
    <div class="columns is-vcentered">
        <a href="/about/de" class="column is-one-quarter">
            Über
        </a>
        <a href="/blog" class="column is-one-quarter">
            Blog (auf Englisch)
        </a>
        <a href="/privacy/de" class="column is-one-quarter">
            Datenschutz
        </a>
        <a href="/contact/de" class="column is-one-quarter">
            Kontakt
        </a>
    </div>
    </div>
</footer>

<script>
    function reset_selected_tab() {
        var tabs = document.getElementsByClassName("search_tab");
        var i;
        for (i = 0; i < tabs.length; i++) {
            var tab = tabs[i];
            if (tab.classList.contains('is-active')) {
                tab.classList.remove('is-active');
            }
        }
    }

    function switch_tab(list_element, value) {
        reset_selected_tab();
        document.getElementById('input_form').setAttribute('action', '/results' + value);
        list_element.classList.add('is-active');
    }
</script>

</body>
</html>

