{% extends 'languages/spanish/article_layout_spanish.html' %}
{% block article %}
<h1> Acerca De Infinity Search </h1>
<hr/>
<h2> Lo Que Hacemos </h2>

Infinity Search es un motor de búsqueda que respeta la privacidad construido para conectar a todo el mundo a
una mayor comprensión del internet. Diseñamos nuestro servicio para que la gente pueda ser mas eficiente y
efectiva cuando están buscando algo en linea. Logramos esto al proporcionar resultados rápidos y relevantes
mientras también facilitando la búsqueda de lo mismo en otros recursos de Internet si nuestros resultados
no son suficientes.

<hr/>

<h2> Por Qué Hicimos Infinity Search </h2>

Hicimos Infinity Search para que la gente pudiera usar Internet de una manera más eficiente, efectiva y
agradable. Con los actuales motores de búsqueda, si no puedes encontrar lo que buscas en la primera página,
la regla general es que también puedes renunciar. Sin embargo, existen otros motores de búsqueda y recursos
de Internet en línea con sus propios algoritmos y resultados que probablemente tengan lo que estás buscando.
Mucha gente no conoce algunos de estos sitios y sería inconveniente para ellos buscar lo mismo en varios
de ellos. Hicimos este servicio para resolver este problema.
<br><br>
La segunda razón para hacer este servicio es
para que la gente pueda tener otro motor de búsqueda que valore su privacidad. La gente tiene derecho a su
privacidad y muchos de los motores de búsqueda actuales hacen todo lo posible para rastrear e identificar a
sus usuarios. Queríamos hacer un motor de búsqueda que la gente pueda usar sin tener que preocuparse de que
su privacidad sea violada. Nuestro servicio ni siquiera utiliza cookies (y nunca lo hará).


<hr/>
<h2> Cómo Mantenemos Este Servicio </h2>

Nuestro servicio está financiado por anuncios sin seguimiento y enlaces de afiliados. Esto significa que incluso con
anuncios, nunca seremos incentivados para rastrear o identificar a nuestros usuarios.

<br>

{% endblock %}
