{% extends 'languages/spanish/article_layout_spanish.html' %}
{% block article %}
<h1> Política De Privacidad De Infinity Search </h1>
<hr/>

<h2> Información Recopilada </h2>

Las únicas métricas que guardamos sobre los visitantes de nuestro sitio son las páginas que se ven y las referencias
HTTP. Creamos nuestra propia plataforma de análisis de código abierto, <a href="https://gitlab.com/infinitysearch/infinity-analytics">Infinity Analytics</a>, para que aún pudiéramos
obtener métricas de uso del sitio respetando la privacidad de nuestros usuarios.

<hr/>

<h2> Información No Recopilada </h2>

No recopilamos ni registramos datos sobre los usuarios individuales que acceden a este sitio web. Esto significa que no
registrar direcciones IP o cadenas de agente de usuario. Tampoco utilizamos cookies en absoluto, que es una de las
formas comunes que otros sitios web intentan rastrearen en línea, incluso después de que haya dejado su sitio.

<hr/>

<h2> Información Compartida </h2>

Dado que estamos utilizando API de terceros para recopilar los resultados de búsqueda, esos servicios pueden
búsquedas que hacemos. No pueden ver, sin embargo, quién hizo la búsqueda porque
se les aparece como nuestro servicio haciendo la búsqueda. Esta es la misma manera en que
<a href="https://duckduckgo.com/"> DuckDuckGo</a> también funciona.

<hr/>

<h2> Cómo Valoramos Su Privacidad </h2>

Valoramos su privacidad aquí simplemente sin alejarse de la política de privacidad descrita
encima. Nuestro modelo está diseñado para respetar la privacidad de todos nuestros usuarios.

</div>

{% endblock %}
